@charset "utf-8";

html {
  font-size: 100%;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  color: #333;
  font-size: 0.8em;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: #333;
}

#container {
  max-width: 1300px;
}

.inner {
  max-width: 700px;
  margin: 50px auto;
  background: #aaa;
}

.section-title {
  font-size: 16px;
  text-align: center;
}

/*-----------------------
ヘッダー
-------------------------*/

#header {
  max-width: 900px;
  margin: 50px auto 0;
}

.site-title  {
  margin: 0;
}

.site-title img {
  width: 200px;
}

/*-----------------------
メインビジュアル
/*-----------------------*/
#mainvisual {
  max-width: 900px;
  margin: 0 auto;
}

/*-----------------------
  インデックス
/*-----------------------*/

#index {
  padding: 30px 0;
}

.index-inner {
  width: 600px;
  margin: 30px auto 0;
  border: 1px black solid;
}

.index-list {
  width: 400px;
  margin: 20px auto;
}

.index-list li {
  margin-bottom: 16px;
}

/*-----------------------
  画像エリア
/*-----------------------*/
.list {
  max-width: 700px;
  margin: 0 auto 16px
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list li {
  width: calc(100%/2);
  margin: 0;
}


/*-----------------------
  デタイル
/*-----------------------*/

#detail {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 0;
  background: #aaa;
}

.flex {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

.flex dl {
  border-right: 1px solid black;
}

.flex dt {
  font-weight: bold;
  margin: 0;
}

.text {
  display: flex;
  flex-direction: column;
}

.text-height {
  height: auto;

.text p {
  margin: 0;
  padding: 0;
}


/*-----------------------
フッター
/*-----------------------*/

#footer {
  max-width: 700px;
  margin: 0 auto;
}

#footer p {
  font-size: 16px;
}
  





/*-----------------------

/*-----------------------*/

/*-----------------------
ヘッダー
/*-----------------------*/

/*-----------------------
ヘッダー
/*-----------------------*/

/*-----------------------
ヘッダー
/*-----------------------*/

/*-----------------------
ヘッダー
/*-----------------------*/
