@charset "utf-8";

html {
  font-size: 100%;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  color: #333;
  font-size: 0.8em;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: #333;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.inner {
  max-width: 800px;
  margin: 50px auto;
}

.section-title {
  font-size: 1rem;
  text-align: center;
}

/*-----------------------
ヘッダー
-------------------------*/

#header {
  margin-top: 50px;
}

/*
h1タグ
line-height にh1タグの高さよりも小さい値「1px」を指定することで、
h1タグの上下の余白が消えるため、ロゴ画像の高さと揃う
「line-height: 0;」を指定してもOKです
*/


.site-title  {
  width: 180px;
  line-height: 1px;
  margin: 0;
}

/*-----------------------
メインビジュアル
/*-----------------------*/
#mainvisual {
  margin: 0 auto;
}

/*-----------------------
  インデックス
/*-----------------------*/

#index {
  background: #aaa;
  padding: 30px 0;
}

.index-inner {
  margin: 30px auto 0;
  border: 1px black solid;
}

/*
「display: table;」と「margin: 0 auto;」で中央に配置。
※この方法を使うとテキストの長さに応じて可変で中央配置できる
*/

.index-list {
  display: table;
  margin: 20px auto;
}

.index-list li {
  margin-bottom: 16px;
}

/*-----------------------
  画像エリア
/*-----------------------*/
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list li {
  width: 48%;
}
  
/*-----------------------
  デタイル
/*-----------------------*/

#detail {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 0;
  background: #aaa;
}

.flex {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

.flex dl {
  margin-right: 10px;
}

.flex dl:after {
  border-right: 1px solid black;
}

.flex dt {
  font-weight: bold;
  margin: 0;
}

.flex dd {
  margin: 0;
}

.text {
  display: flex;
  flex-direction: column;
  height: auto;
}

.text-height {
  height: auto;
}

.text p {
  margin: 0;
  padding: 0;
}


/*-----------------------
フッター
/*-----------------------*/

#footer {
  margin: 80px auto 10px;
}

#footer p {
  font-size: 8px;
  text-align: center;
}
  





/*-----------------------

/*-----------------------*/

/*-----------------------
ヘッダー
/*-----------------------*/

/*-----------------------
ヘッダー
/*-----------------------*/

/*-----------------------
ヘッダー
/*-----------------------*/

/*-----------------------
ヘッダー
/*-----------------------*/
